.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    padding: 3px;
}

.hd-tw-followCard{
    display: flex;
    align-items: center;
    gap: 4px;
}

.div-tw-followCard{
    display: flex;
    flex-direction: column;
}

.user-tw-followCard{
    opacity: .6;
}

.avatar-tw-followCard{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.btn-tw-followCard{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    background-color: rgb(0, 204, 255);
}

.btn-tw-followCard.is-following{
    border: 1px solid red;
    background-color: rgb(252, 121, 121);
}

.btn-tw-followCard:hover{
    background-color: rgb(0, 38, 255);
    transition: .3s ease background-color;
}

.btn-tw-followCard.is-following:hover{
    background-color: red;
    transition: .3s ease background-color;
}