.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    padding: 3px;
}

.hd-tw-followCard{
    display: flex;
    align-items: center;
    gap: 4px;
}

.div-tw-followCard{
    display: flex;
    flex-direction: column;
}

.user-tw-followCard{
    opacity: .6;
}

.avatar-tw-followCard{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.btn-tw-followCard{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: 600;
}

.btn-tw-followCard.is-following{
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
    width: 120px;
}

.btn-tw-followCard.is-following:hover{
    background-color: rgba(255, 102, 102, 0.014);
    transition: .3s ease background-color;
    color: red;
    border: 1px solid;
}

